[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "power.transform"]
	path = power.transform
	url = https://github.com/oncoray/power.transform
	subdir = R
